llama-index
llama_index ftfy regex tqdm
git+https://github.com/openai/CLIP.git
torch torchvision
matplotlib scikit-image
qdrant_client
llama-index-multi-modal-llms-azure-openai
llama-index-embeddings-clip
llama-index-vector-stores-qdrant
llama-index-llms-azure-openai
llama-index-embeddings-azure-openai